[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"
ipdb = "*"
# in order to use docker-compose command within virtualenv
docker-compose = "*"

[packages]
Flask = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"

[pipenv]
allow_prereleases = true
